<p-toast></p-toast>
<ng-container *ngFor="let message of conversation">
    <div class="message"
    [ngClass]="{
        'from': (message.role === 'system' || message.role === 'assistant'),
        'to': message.role === 'user' 
    }">
    &shy;{{ message.content }}
    </div>
</ng-container>
<div class="message" [ngClass]="'from'" *ngIf="loadMessage" >
    Cargando...
    <br>
    <p-progressBar mode="indeterminate"></p-progressBar>
</div>

<hr>
<div class="p-inputgroup">
    <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
    </span>
    <input type="text" pInputText pAutoFocus [autofocus]="true" placeholder="Automatically focused" [(ngModel)]="value" (keyup.enter)="sendMessage()" placeholder="Pregunta...">
    <button type="button" pButton icon="pi pi-send" styleClass="p-button-success" (click)="sendMessage()"></button>
</div>